body {
  margin: 4rem 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 4rem 0;
}

h4 {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.panel {
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.panel.panel-blue {
  border: 1px solid #0087ff;
  background-color: #ddedff;
  color: #0087ff;
}
.panel.panel-yellow {
  border: 1px solid #ffbd00;
  background-color: #fef0b2;
  color: #ffbd00;
}
.panel.panel-pink {
  border: 1px solid #f84f7f;
  background-color: #fad2e1;
  color: #f84f7f;
}
.panel.panel-purple {
  border: 1px solid #7f51f4;
  background-color: #dfccff;
  color: #7f51f4;
}

.row.row-purple {
  border: 1px solid #7f51f4;
  background-color: #dfccff;
  color: #7f51f4;
}
