# python
__pycache__/

# django
db.sqlite3

# VSCode
.vscode

# Eclipse
.project
.pydevproject

# Mac
**/.DS_Store

# coverage
.coverage
htmlcov/

# Misc
*.log
*.tmp
*.swp

# Env files
prod.env

# static files
/django/static/
!/django/static/robots.txt
/django/react/build/

