input {
  border-radius: 7px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eaedf0;
  position: relative;
  height: stretch;
}

.menu-container {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  color: #5995da;
  padding: 15px 0;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 30pt;
}

.search-container {
  display: flex;
  justify-content: space-around;
  height: stretch;
}

.search-box input {
  height: stretch;
  padding: 10px 0;
  justify-content: center;
  height: 35px;
  width: 700px;
}

.page {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  height: stretch;
}

.sidebar {
  width: 150px;
}

.content {
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}

.footer-item {
  width: 31%;
  height: 1.5rem;
  text-align: center;
}
