.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eaedf0;
  position: relative;
  height: stretch;
}

.menu-container {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 5px 0;
  border: 1px solid #fff;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  color: #5995da;
  padding: 20px 0;
  justify-content: center;
}

.header {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 30pt;
}

.page {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  height: stretch;
}

.sidebar {
  width: 150px;
}

.content {
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}

.footer-item {
  width: 31%;
  margin: 20px 1.15%;
  height: 1.5rem;
}
