Django==2.1.6
django-debug-toolbar==1.9.1
django-extensions==2.1.0
django-model-utils==3.1.2
django-polymorphic==2.0.2
django-celery-beat==1.1.1
celery[redis]==4.2.1
factory-boy==2.11.1

psycopg2-binary==2.7.5

pandas==0.23.3
pytz==2018.5

flake8==3.7.6
astroid==2.1.0
pylint==2.2.2
pylint-django==2.0.5

coverage==4.5.1
redgreenunittest==0.1.1

ipdb==0.11
ipython==6.5.0
pydevd==1.3.3

requests==2.20.0
