Django==3.0.6
django-debug-toolbar==2.2.1
django-extensions==2.2.9
django-model-utils==4.0.0
django-polymorphic==2.1.2
djangorestframework==3.11.0
django-celery-beat==2.0.0
django-redis==4.11.0
celery==4.4.2
factory-boy==2.12.0

channels-redis==2.4.2
channels==2.4.0

gunicorn==20.0.4

psycopg2-binary==2.8.5

pandas==1.0.3
pytz==2020.1

black==19.10b0
flake8==3.8.1
astroid==2.3.3
pylint==2.4.4
pylint-django==2.0.15

coverage==5.1
redgreenunittest==0.1.1

ipdb==0.13.2
ipython==7.14.0
pydevd==1.9.0

requests==2.23.0

cryptocompy==0.1.1.dev1