body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: Inconsolata;
}
/* html {
  height: 100%;
}
body {
  min-height: 100%;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  border: 1px solid red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  padding: 20px;
}
h2 {
  padding: 15px;
}
h4 {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

span.navigationSpace {
  padding-left: 50px;
}
